.skills-container {
    width: 100%;
    height: auto;
}

.skills-wrapper {
    margin-top: 84px;
    margin-bottom: 96px;
    margin-left: 16.6%;
    margin-right: 16.6%;
    height: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills-text {
    width: auto;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;

    color: #4832D3;

}

.skills-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: auto;
    height: 430px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.skills-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 290px;
    height: 120px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.skill-img {
    width: 120px;
height: 120px;

/* YO */

box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.skill-name {
    width: 146px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

text-transform: uppercase;

color: #777777;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}